name: Deploy to itch.io

on:
    push:
        tags:
            - "v*"

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Install Butler
              run: |
                  curl -L -o butler https://broth.itch.io/butler/linux-amd64/LATEST/archive/default
                  chmod +x butler
                  ./butler -V

            - name: Push to itch.io
              env:
                  ITCH_USERNAME: ${{ secrets.ITCH_TO_API_KEY }}
              run: |
                  ./butler push . ${{ vars.ITCH_USERNAME }}/${{ vars.ITCH_GAMESNAME }}:web --target v${{ github.ref_name }}
